<a href="https://colab.research.google.com/github/priscilagomeslopessantos/dogs/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1 letra = a
2 palavra1 = "estrutura de dados"
3 palavra2 = "python"

In [ ]:
num1= 2
num2= 8
num3= 12
num4= 20
num5= 35
num6= 45
num7= 78

In [ ]:
num2

8

In [ ]:
num1*num2

16

In [ ]:
idade = int(input('digite sua idade'))

digite sua idade 35

In [ ]:
print (idade)

35

In [ ]:
nome = priscila
nome2 = gomes
nome3 = lopes
nome4 = santos